* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

canvas {
    margin: auto;
}

#level_0:hover,
#level_1:hover,
#level_2:hover {
    border: 2px solid green;
}

.border {
    border: 2px solid green;
}